ul.breadcrumbs{
    padding: 0.275em;
    border-style: none;
    background-color: white;
}

.services-nav{
    background: #ccc;
    height: 60px;
}

.top-bar {
    background: #111111;
    overflow: visible;
}

.search-input{
    height: 1em;
    width: none;
}
  
.search-form{
    float: right;
    list-style-type:none;
    margin-top: 15px;
    width: 20em;
}

.filter-nav{
    height: 40px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

.gridenabled{
    width:32px;
    height:15px;
    margin-bottom: 10px;
    background:url(../img/app/gridlist.jpg) 0 -16px;
}

.listenabled{
    width:32px;
    height:15px;
    margin-bottom: 10px;
    background:url(../img/app/gridlist.jpg) 0 0;
}

.list{
    display: none;
}